<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td height="2083">
				<table width="612" cellspacing="0" cellpadding="0" align="center" border-left="1" style="border: 2px solid #DADADA;">
					<tr>
						<td width="608">
							<img src="http://bright.clanpshop.com/image/email/top_banner.jpg" width="608" />			</td>
						</tr>
						<tr>
							<td height="28" width="608">
								<table width="100%" cellspacing="0" cellpadding="0 border="0">
									<tr>
										<td><h2><font color="#E43182">Здраствуйте, [ИМЯ] </font></h2></td>
									</tr>
								</table>
								
							</td>
						</tr>
						<tr>
							<td height="214" width="608"><table width="100%" cellspacing="0" cellpadding="0" border="0">
								<tr>
									<td width="100%"><p><font color="#E43182">Спасибо за Ваш заказ!<br>
										В ближайшее время с Вами свяжется представитель нашего магазина, чтобы обсудить все детали покупки.<br>
										Номер вашего заказа - <font size="6">[СР00-000011]</font><font color="#E43182"></font><br>
										Если Вы не хотите, чтобы наш представитель связывался с Вами и Вы подтверждаете все даные о покупке , нажмите - <strong>Подтвердить </strong></font></p>
										<p><font color="#E43182">Посмотреть детали заказа можно в Вашем <a href="#" target="_blank">личном кабинете >></a></font> </p></td>
									</tr>
								</table>								</td>
							</tr>
							<tr>
								<td height="352" width="608" valign="top">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tr>
											<td valign="top"><h2 align="left"><font color="#FD7802">Состав заказа:</font></h2></td>
										</tr>
									</table>
									
									<table width="100%" cellspacing="0" cellpadding="0" height="297" border="0">
										<tr>
											<td height="293"><table width="100%" cellspacing="0" cellpadding="0" border="0">

											</table>
											<table width="100%" cellspacing="0" cellpadding="0" border="0">
												<tr>
													<td width="37%" height="61" ><img src="http://bright.clanpshop.com/image/email/a.jpg" width="217" height="249" /></td>
													<td width="63%" valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
														<tr>
															<td height="144" valign="top"><p style="margin:0px"><font color="#E43182">[Title product]</font></p>
																<p style="margin:0px"><font color="#E43182">[Article of product]</font></p>
																<p style="margin:0px"><font color="#E43182">[Size]</font></p>
																<p style="margin:0px"><font color="#E43182">[Gender]</font></p></td>
															</tr>
														</table>
														<table width="100%" cellspacing="0" cellpadding="0" height="96" border="0">
															<tr>
																<td align="right" valign="bottom"><table width="100%" height="94" border="0">
																	<tr>
																		<td height="90" valign="bottom"><h3 align="right"><font color="#FD7802">1 x 6699 грн = 6699 грн</font></h3></td>
																	</tr>
																</table></td>
															</tr>
														</table></td>
													</tr>
												</table></td>
											</tr>
										</table></td>
									</tr>
									<tr>
										<td width="608" height="300"><table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tr>
												<td width="37%" height="61" ><img src="http://bright.clanpshop.com/image/email/a.jpg" width="217" height="249" /></td>
												<td width="63%" valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0">
													<tr>
														<td height="144" valign="top"><p style="margin:0px"><font color="#E43182">[Title product]</font></p>
															<p style="margin:0px"><font color="#E43182">[Article of product]</font></p>
															<p style="margin:0px"><font color="#E43182">[Size]</font></p>
															<p style="margin:0px"><font color="#E43182">[Gender]</font></p></td>
														</tr>
													</table>
													<table width="100%" cellspacing="0" cellpadding="0" height="96" border="0">
														<tr>
															<td align="right" valign="bottom"><table width="100%" border="0">
																<tr>
																	<td height="101" valign="bottom"> <h3 align="right"><font color="#FD7802">1 x 6699 грн = 6699 грн</font></h3></td>
																</tr>
															</table>                                                   </td>
														</tr>
													</table></td>
												</tr>
											</table></td>
										</tr>

										<tr>
											<td><table width="98%" cellspacing="0" cellpadding="0" border="0" align="left">
												<tr>
													<td height="95" width="100%" align="left" valign="top"><font color="#FD7702"><h2>Общая стоимость заказа : [Total] грн</h2> </font></p>
														В общей суме не учтены боснусы. Списание бонусных грн проходит в момент оплаты заказа или отправки заказа курьерской службой.</td>
													</tr>
												</table>
												<p>&nbsp;</p></td>
											</tr>
											<tr>
												<td height="197">
													<table width="100%" cellspacing="0" cellpadding="0" border="0">
														<tr>
															<td height="175"><h2><font color="#FD7702">Даные о заказе</font></h2>
																<p style="margin:0px">Получатель: <strong>Антон Зволь</strong> </p>
																<p style="margin:0px">Номер телефона :<font color="#2463D0"> <strong>+380638739110 </strong></font></p>
																<p style="margin:0px">Способ доставки:<strong> Курьером </strong></p>
																<p style="margin:0px">Способ оплаты: </p>
																<p style="margin:0px">Адрес доставки </p></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td>
														<p>Ваш коментарий к заказу : </p>
													</td>
												</tr>
												<tr>
													<td>
														<table width="99%" cellspacing="0" cellpadding="0" border="0">
															<tr>
																<td height="131" width="100%"><h2><font color="#FE9B44">Остались вопросы? </font></h2>
																	<p><strong>Имя</strong>, если у Вас Возникли вопросы, Вы можете <strong>ответить на это письмо</strong>, либо позвонить нам по телефону </p></td>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td height="460" width="608">
															<h2 align="center"><font color="#E32077">Не пропускайте наши новинки!</font></h2>
															<table width="100%" cellspacing="0" cellpadding="0" height="339" border="0" style="border-bottom: 2px solid #DADADA">
																<tr>
																	<td height="335" width="35%" align="left" valign="top">
																		<p><img src="http://bright.clanpshop.com/image/email/a.jpg" width="195" height="214" /></p>
																		<p style="margin:0px"><font color="#E32077">[Title product]</font></p>
																		<p style="margin:0px"><font color="#E32077">[Article of product]</font></p>
																	</td>
																	<td width="32%" valign="top">
																		<p><img src="http://bright.clanpshop.com/image/email/a.jpg" width="183" height="214" /></p>
																		<p style="margin:0px"><font color="#E32077">[Title product]</font></p>
																		<p style="margin:0px"><font color="#E32077">[Article of product]</font></p>
																	</td>
																	<td width="33%" valign="top">
																		<p><img src="http://bright.clanpshop.com/image/email/a.jpg" width="179" height="214" /></p>
																		<p style="margin:0px"><font color="#E32077">[Title product]</font></p>
																		<p style="margin:0px"><font color="#E32077">[Article of product]</font></p>
																	</td>
																</tr>
															</table>
															<table width="600" cellspacing="0" cellpadding="0" border="0">
																<tr>
																</tr>
															</table>
														</td>
													</tr>
													<tr>
														<td>
															<div align="center">
																<table width="100%" cellspacing="0" cellpadding="0" border="0">
																	<tr>
																		<td align="center"><a href="#" target="_blank"><img src="http://bright.clanpshop.com/image/email/twit.png" width="40" height="40" /></a>
																		<a href="#" target="_blank"><img src="http://bright.clanpshop.com/image/email/fb.png" width="40" height="40"  style="padding-left:10px"/></a>
																		<a href="#" target="_blank" ><img src="http://bright.clanpshop.com/image/email/smile.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"> <img src="http://bright.clanpshop.com/image/email/ok.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"><img src="http://bright.clanpshop.com/image/email/inst.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"> <img src="http://bright.clanpshop.com/image/email/vk.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"> <img src="http://bright.clanpshop.com/image/email/gplus.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"><img src="http://bright.clanpshop.com/image/email/youtube.png" width="40" height="40"  style="padding-left:10px" /></a>
																		<a href="#" target="_blank"><img src="http://bright.clanpshop.com/image/email/ytb.png" width="40" height="40"  style="padding-left:10px" /></a></td>
																		</tr>
																	</table>
																</div>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
